// Blog posts


.article-container {
  @include rem(max-width, 600px);
  margin: 0 auto;
  padding: 7rem 0;
}

.article-body {
  @include rem(padding, 20px 0);
  border-top: 1px solid $carisma;

  figcaption {
    display: block;
    font-size: 0.875rem;
    font-style: italic;
    text-align: center;
    margin-bottom: 2rem;
  }

}

.aside-similar {
  border-top: 1px solid $carisma;

  ul {
    list-style-type: none;
  }
}

.single-article-header {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
}