// Hero section

.top-image {

}

.top-image-figure {
  margin: 0;
  object-fit: contain;
  align-items: center;
  display: grid;
  justify-items: center;

  img {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  figcaption {
    color: white;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

}

// Body section

.about-info {
  @include rem(max-width, 800px);
  padding: 4rem 1rem;
  margin: 0 auto;

  .about-text {
    &:nth-of-type(2) {
      order: 4;
    }
  }

  &.donate-page {
    @include rem(max-width, 960px);

    .button {
      max-width: 16rem;
    }

  }


}

.about-image {
  align-self: center;
  display: flex;
  justify-items: center;
  object-fit: contain;


  img {
    vertical-align: middle;
  }
}


// Blog posts

.blog-landing {
  @include rem(padding, 64px 0);
}

.four-column-grid {
  @include rem(max-width, 960px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
}

.blog-meta {
  background-color: $pink;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0 2rem 2rem;
}

.blog-image {
  object-fit: contain;

  img {
    display: block;
  }

}

.blog-page-link {
  color: white;
  text-decoration: none;

  &:hover {
    color:white;
    text-decoration: underline;
  }

}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  padding: 4rem 2rem;

  img {
    height: 200px;
    object-fit: cover;
    width: 100%;
  }

}