// Hero section

.top-image {

}

.top-image-figure {
  margin: 0;
  object-fit: contain;
  align-items: center;
  display: grid;
  justify-items: center;

  img {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  figcaption {
    color: white;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

}

// Body section

.about-info {
  @include rem(max-width, 800px);
  padding: 4rem 1rem;
  margin: 0 auto;

  .about-text {
    &:nth-of-type(2) {
      order: 4;
    }
  }
}

.about-image {
  align-self: center;
  display: flex;
  justify-items: center;
  object-fit: contain;


  img {
    vertical-align: middle;
  }
}