<div id="comments" class="comments-area">
  <div id="respond" class="comment-respond">
    <h3 id="reply-title" class="comment-reply-title">Leave a Comment <small>
      <a rel="nofollow" id="cancel-comment-reply-link" href="/2018/06/19/mandela-monday-hero-expresso-morning-show/#respond" style="display:none;">Cancel Reply</a></small></h3>
      <form action="" class="comment-form">
        <p class="comment-notes">
          <span id="email-notes">Your email address will not be published.</span>
          Required fields are marked <span class="required">*</span>
        </p>
        <div class="ast-row comment-textarea">
          <fieldset class="comment-form-comment">
            <div class="comment-form-textarea ast-col-lg-12">
              <label for="comment" class="screen-reader-text">Type here..</label>
              <textarea id="comment" name="comment" placeholder="Type here.." cols="45" rows="8" aria-required="true" class="text-input"></textarea>
            </div>
          </fieldset>
        </div>
        <div class="ast-comment-formwrap ast-row">
          <p class="comment-form-author ast-col-xs-12 ast-col-sm-12 ast-col-md-4 ast-col-lg-4">
            <label for="author" class="screen-reader-text">Name*</label>
            <input id="author" name="author" type="text" value="" placeholder="Name*" size="30" aria-required="true" class="text-input">
          </p>
          <p class="comment-form-email ast-col-xs-12 ast-col-sm-12 ast-col-md-4 ast-col-lg-4">
            <label for="email" class="screen-reader-text">Email*</label>
            <input id="email" name="email" type="email" value="" placeholder="Email*" size="30" aria-required="true" class="text-input">
          </p>
          <p class="comment-form-url ast-col-xs-12 ast-col-sm-12 ast-col-md-4 ast-col-lg-4"><label for="url">
            <label for="url" class="screen-reader-text">Website</label>
            <input id="url" name="url" type="web" value="" placeholder="Website" size="30" class="text-input">
          </label>
        </p>
      </div>
      <p class="form-submit"><input name="submit" type="submit" id="submit" class="button" value="Post Comment »">
      </p>
    </form>
  </div><!-- #respond -->


</div>