// Button styles, including links styled as buttons

button,
input[type="submit"],
input[type="button"] {
  &:focus {
    outline: 1px dotted $light-grey;
  }
}

.button {
  @include rem(padding, 0 40px);
  @include font-size(16);
  @include rem(min-height, 50px);
  @include rem(min-width, 200px);
  align-items: center;
  background-color: $button-link-color;
  border: 0;
  border-radius: 25px;
  color: white;
  display: flex;
  font-family: inherit;
  font-weight: 400;
  justify-content: center;
  text-decoration: none;
  transition: all 250ms ease-in;
  width: auto;

  + .button {
    @include rem(margin, 0 0 0 15px);
  }

  &.button-small {
    @include rem(padding, 7px 20px);
    @include font-size(14);
    @include rem(min-height, 30px);
    @include rem(min-width, 120px);
  }

  &.button-large-cta {
    @include rem(min-height, 50px);
    @include font-size(18);
    @include rem(max-width, 200px);
  }

  &.button-outline {
    @include rem(padding, 10px 18px);
    background: white;
    border: 2px solid $button-link-hover-color;
    color: $button-link-color;

    &:hover {
      border-color: $button-link-hover-color;
    }

  }

  &.button-pink {
    background-color: $pink;

    &:hover {
      background-color: darken($pink, 10%);
    }

  }

  &:hover, &:focus {
    background: $button-link-hover-color;
    color: white;
    text-decoration: none;
  }

  &.block-button {
    display: block;
    width: 100%;
  }

  &.small-button {
    @include rem(padding, 7px 20px);
    @include font-size(14);
  }

  &.warning-button {
    background-color: $warning;

    &:hover, &:focus {
      background-color: darken($warning, 5%);
    }

  }

  &.alert-button {
    background-color: $alert;

    &:hover, &:focus {
      background-color: darken($alert, 10%);
    }

  }

  &.success-button {
    background-color: $success;

    &:hover, &:focus {
      background-color: darken($success, 10%);
    }

  }

  &:focus {
    outline: 1px dotted black;
  }

  &[disabled] {
    background-color: #e6e6e6;
    color: #cccccc;
    cursor: not-allowed;
  }

  svg {
    vertical-align: middle;
  }

  &.reset {
    background-color: $very-light-grey;
    color: $base-color;
  }

}

.center-button {
  display: block;
  margin: 0 auto;
  max-width: 170px;
}

// unstyled

.unstyled-button {
  background-color: transparent;
  border: 0;
  padding: 0;

  &:hover, &:focus {
    background-color: transparent;
    outline: none;
  }

}

.text-button {
  background: transparent;
  border: none;
  color: $button-link-color;
  font-weight: 400;
  padding: 0;
  text-decoration: underline;

  &:hover, &:focus {
    background: transparent;
    color: $button-link-hover-color;
  }

}