// commment form styles

.comments-area {
  @include rem(max-width, 800px);
  @include rem(padding, 0 16px);
  border-top: 1px solid $border-color;
  margin: 2em auto;
}

.comments-area .comment-notes,
.comments-area .comment-textarea,
.comments-area .form-allowed-tags {
  font-size: 0.875rem;
}

.ast-comment-formwrap {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1rem;
}