// Footer styles


.main-footer {
  background-color: $carisma;
  // background-image: linear-gradient(176deg, white 50%, $carisma calc(50% + 2px));
  min-height: 18rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
}

.social-links {
  @include rem(padding, 27px 0);
  margin-left: auto;

  a {
    // margin: 0 0 0 0.3rem;
    text-decoration: none;

    svg {
      width: 20px;
      height: 20px;
    }
  }

}

.footer-content {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}


.tagline {
  font-size: 2rem;
  font-weight: 400;
}