/*
   Color and sizing variables
   ========================================================================== */

// Variables

// Fonts

$base-font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

// Base colour

$base-color: hsl(0, 0%, 20%);

//Primary colours

$indigo: hsl(281, 100%, 23%);
$ultramarine: hsl(252, 100%, 29%);
$blue: hsl(223, 100%, 60%);
$violet: hsl(281, 35%, 48%);
$pink: hsl(335, 60%, 52%);

// Errors, warnings, completions

$warning: hsl(358, 72%, 48%);
$success: #00B2A9;
$alert: #D22630;

//Greys

$off-white: hsl(0°, 0%, 96%);
$very-light-grey: hsl(0°, 0%, 88%);
$light-grey: hsl(0°, 0%, 76%);

// Buttons and links

$button-link-color: $indigo;
$button-link-hover-color: darken($indigo, 10%);

// Border etc

$border-color: $very-light-grey;

// Type colours

$heading-color: $base-color;

// Sizing

$line-height: 1.6;