---
layout: single-page
title: About us
category: Templates
---

<section class="top-image">
  <figure class="top-image-figure">
    <img src="/assets/img/photos/about-page-banner.jpg" alt="">
    <figcaption>
      <h1>
        About Design26 Foundation
      </h1>
      <p>See how you can make a difference in the life of an unemployed and unskilled girl</p>
    </figcaption>
  </figure>
</section>

<section class="two-column-grid about-info">
  <article class="about-text">
    <h2>About us</h2>
    <p>Design26 Foundation started in March 2018.  This is a Social Business Enterprise aim to reduce poverty through providing sewing skills training, counselling and job opportunities to vulnerable teenage mothers and disadvantaged girls of Mitchells Plain and its surrounding areas.</p>
    <p>Design26 Foundation was formed in collaboration with Design26 (Pty) Ltd after Suraya Williams dealt with teenage girls providing them with a service and then saw them being effected by pregnancies and the drastic effect it had.</p>
  </article>
  <figure class="about-image">
    <img src="/assets/img/photos/women-sewing-one.jpg" alt="">
  </figure>
  <article class="about-text">
    <h2>Vision</h2>
    <p>To skill teenage mothers and disadvantage girls which will afford them the opportunities to become employable as skilled workers within today’s competitive environment positively.  Our being is to help the effected girls to integrate back into their community and aspire for a better future.</p>
  </article>
  <figure class="about-image">
    <img src="/assets/img/photos/women-sewing-one.jpg" alt="">
  </figure>
</section>

<section class="two-column-grid about-info">
  <article class="about-text">
    <h2>Mission</h2>
    <p>To restore hope to teenage mothers and disadvantage girls, improve the quality of their life by empowering them, reshape the society targeted as well as working hand in hand with other partners.</p>
  </article>
  <figure class="about-image">
    <img src="/assets/img/photos/women-sewing-one.jpg" alt="">
  </figure>
  <article class="about-text">
    <h2>Goal</h2>
    <p>Our goal is to encourage teenage mothers to learn to earn and to fend for themselves.  To equip them with skills and not to reiterate a second unplanned pregnancy.  Our priority is to investing in people, and we are committed to giving assistance to those in need regardless of religion, race or nationality.  We support the poor and vulnerable teenage mothers to have a job in their community to increase and stabilise of their family income for better living conditions.</p>
  </article>
  <figure class="about-image">
    <img src="/assets/img/photos/women-sewing-one.jpg" alt="">
  </figure>
</section>