---
layout: single-page
title: Blog landing page
category: Templates
---

<section class="top-image">
  <figure class="top-image-figure">
    <img src="/assets/img/photos/about-page-banner.jpg" alt="">
    <figcaption>
      <h1>
        Get Inspired
      </h1>
      <p>Read about our work and the stories of the incredible young women who inspire us</p>
    </figcaption>
  </figure>
</section>

<section class="four-column-grid blog-landing">
  <article class="blog-image">
    <figure>
      <img src="/assets/img/photos/sewing-four.jpg" alt="">
    </figure>
    <div class="blog-meta">
      <h2>Blog title</h2>
      <p class="excerpt">I seek the means to fight injustice. To turn fear against those who prey on the fearful.</p>
      <a href="">Read the story</a>
    </div>
  </article>
  <article class="blog-image">
    <figure>
      <img src="/assets/img/photos/sewing-four.jpg" alt="">
    </figure>
    <div class="blog-meta">
      <h2>Blog title</h2>
      <p class="excerpt">I seek the means to fight injustice. To turn fear against those who prey on the fearful.</p>
      <a href="">Read the story</a>
    </div>
  </article>
  <article class="blog-image">
    <figure>
      <img src="/assets/img/photos/sewing-four.jpg" alt="">
    </figure>
    <div class="blog-meta">
      <h2>Blog title</h2>
      <p class="excerpt">I seek the means to fight injustice. To turn fear against those who prey on the fearful.</p>
      <a href="">Read the story</a>
    </div>
  </article>
  <article class="blog-image">
    <figure>
      <img src="/assets/img/photos/sewing-four.jpg" alt="">
    </figure>
    <div class="blog-meta">
      <h2>Blog title</h2>
      <p class="excerpt">I seek the means to fight injustice. To turn fear against those who prey on the fearful.</p>
      <a href="">Read the story</a>
    </div>
  </article>
  <article class="blog-image">
    <figure>
      <img src="/assets/img/photos/sewing-four.jpg" alt="">
    </figure>
    <div class="blog-meta">
      <h2>Blog title</h2>
      <p class="excerpt">I seek the means to fight injustice. To turn fear against those who prey on the fearful.</p>
      <a href="">Read the story</a>
    </div>
  </article>
  <article class="blog-image">
    <figure>
      <img src="/assets/img/photos/sewing-four.jpg" alt="">
    </figure>
    <div class="blog-meta">
      <h2>Blog title</h2>
      <p class="excerpt">I seek the means to fight injustice. To turn fear against those who prey on the fearful.</p>
      <a href="">Read the story</a>
    </div>
  </article>
</section>