---
layout: single-page
title: Coming soon
category: Templates
---

<section class="coming-soon-grid">
  <div>
    <h1 class="coming-soon-header">Budget Justice SA</h1>
    <h2>Our new web site is on its way.</h2>
    <p>Sign up to be notified when we launch.</p>

    <form id="">
      <fieldset>
       <!--  <p>
          <label for="name">Name</label>
          <input class="text-input" type="text" name="name" id="name" required placeholder="Enter your full name">
        </p>
        <p>
          <label for="email">Email</label>
          <input class="text-input" type="email" name="email" id="email" required placeholder="Enter your full email address" required>
        </p> -->
        <p>
          <a href="http://eepurl.com/gv5uz9" type="submit" class="button button-large-cta">Notify me</a>
        </p>
      </fieldset>
    </form>
  </div>
  <div>
    <img src="/assets/svg/landing-page-illustration.svg">
  </div>
</section>