---
layout: single-page
title: Donate
category: Templates
---

<section class="top-image">
  <figure class="top-image-figure">
    <img src="/assets/img/photos/about-page-banner.jpg" alt="">
    <figcaption>
      <h1>
        Get Involved
      </h1>
      <p>Everyone has an opportunity to support our work</p>
    </figcaption>
  </figure>
</section>

<section class="two-column-grid about-info donate-page">
  <article class="about-text">
    <h2>Make a monthly or one-time donation</h2>
    <p>You can make a financial donation to our work which is making a life-changing impact in the lives of young women and young mothers.</p>
    <a class="button" href="/donate/">Make a donation</a>
  </article>
  <figure class="about-image">
    <img src="/assets/img/photos/women-sewing-one.jpg" alt="">
  </figure>
</section>

<section class="two-column-grid about-info donate-page">
  <article class="about-text">
    <h2>Crowdsource Fundraising</h2>
    <p>We started a crowdsourcing fundraising campaign because no matter how small we appreciate all contributions.</p>
    <a class="button" href="/donate/">Make a donation</a>
  </article>
  <figure class="about-image">
    <img src="/assets/img/photos/women-sewing-one.jpg" alt="">
  </figure>
</section>

<section class="two-column-grid about-info donate-page">
  <article class="about-text">
    <h2>Sponsorships</h2>
    <p>You can make a contribution to our work by sponsoring us.  We are looking for 5 Industrial Plain sewing machines, 5 Industrial over-lockers, fabric/material, 2 cutting tables, 10 chairs, 2 Electrical iron, 10 scissors, 10 nippers, Sewing machine attachments, Measuring tapes, Pattern paper, bigger vehicle, overhead projector and screen and a bigger premises.</p>
    <a class="button" href="/donate/">Make a donation</a>
  </article>
  <figure class="about-image">
    <img src="/assets/img/photos/women-sewing-one.jpg" alt="">
  </figure>
</section>