---
layout: single-page
title: Gallery page
category: Templates
---

<section class="top-image">
  <figure class="top-image-figure">
    <img src="/assets/img/photos/about-page-banner.jpg" alt="">
    <figcaption>
      <h1>
        Gallery
      </h1>
      <p>Photos of the foundation in action</p>
    </figcaption>
  </figure>
</section>

<section class="four-column-grid gallery">
  <a href="#">
    <img src="/assets/img/photos/sewing-four.jpg" alt="">
  </a>
  <a href="#">
    <img src="/assets/img/photos/sewing-four.jpg" alt="">
  </a>
  <a href="#">
    <img src="/assets/img/photos/sewing-four.jpg" alt="">
  </a>
  <a href="#">
    <img src="/assets/img/photos/sewing-four.jpg" alt="">
  </a>
  <a href="#">
    <img src="/assets/img/photos/sewing-four.jpg" alt="">
  </a>
  <a href="#">
    <img src="/assets/img/photos/sewing-four.jpg" alt="">
  </a>
</section>