---
layout: single-page
title: Home
category: Templates
---

<section class="center-split">
  <article>
    <figure class="split-image">
      <img src="/assets/img/photos/women-sewing-one.jpg" alt="" />
    </figure>
    <div class="cta dark-cta">
      <h1>Changing Lives</h1>
      <p>See how you can make a difference in the life of an unemployed and unskilled girl</p>
      <a href="" class="button button-pink">Get to know us</a href="">
    </div>
  </article>
  <article>
    <figure class="split-image">
      <img src="/assets/img/photos/women-sewing-two.jpg" alt="" />
    </figure>
    <div class="cta">
      <h1>We need you</h1>
      <p>Your donation gives the hope of a second chance to a teenage mother and disadvantaged girl</p>
      <a href="" class="button button-pink">Donate now</a href="">
    </div>
  </article>
</section>

<section class="two-column-grid about-info">
  <article class="about-text">
    <h2>The foundation</h2>
    <p><strong>The Design26 Foundation</strong> hosts Sewing Projects twice a week, for teen mothers.  There is currently one branch located in Westgate Mitchells Plain run by Suraya Williams, Sulayla Adhikari, Rashieda Lanie, Naeema Petersen and Gadija Sait.</p>
  </article>
  <figure class="about-image">
    <img src="/assets/img/photos/women-sewing-one.jpg" alt="">
  </figure>
</section>
<section class="two-column-grid about-info">
  <figure class="about-image">
    <img src="/assets/img/photos/women-sewing-one.jpg" alt="">
  </figure>
  <article class="about-text">
    <h2>Our aim</h2>
    <p>Our aim is to skill teenage mothers and young disadvantaged girls from Mitchells Plain and surrounding areas with the tools to sew, learn to earn and to be self-sustainable.  The classes also include counselling and motivational sessions.</p>
  </article>
</section>
<section class="two-column-grid about-info">
  <article class="about-text">
    <h2>Realising dreams</h2>
    <p>The sewing training will help teen mothers realise their dreams of generataing an income from garment making and working with material they will be enabled to support themselves and also their child from their earnings</p>
  </article>
  <figure class="about-image">
    <img src="/assets/img/photos/women-sewing-one.jpg" alt="">
  </figure>
</section>

<section class="funding-info">
  <div class="funding-info-block watch-video">

  </div>
  <div class="funding-info-block stats">
    <h2>With your help</h2>
    <p>We've trained
      <span class="stat stat-short">30</span> young girls and can help many more.</p>
      <a class="button button-outline" href="/about-us/">Read more about us</a>
  </div>
</section>